#login {
    margin: auto;
    margin-top: 5%;
    font-size: 200%;
    display: block;
    text-align: center;
}

.navbar {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
}

/* .navbar li a, .navbar a {
    color: black;
} */

.navbar-nav .nav-link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 6rem; */
    /* padding-right: 6rem; */
}

#mainBody {
    background-image: url(home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    min-height: 665px;
    margin: 0 auto;
    background-attachment: fixed;
}

#mainNav {
    padding: 0px;
}

#containerNav {
    padding-right: 0px;
}

#create {
    padding-left: 3em;
    padding-right: 3em;
    background-color: #7aaeeb;
    border: 1px solid white;
    color: white;
}

#create:hover {
    background-color: white;
    color: #7aaeeb;
    border: 1px solid #7aaeeb;
    transition: all 370ms linear;
    /* transition-delay: 1s; /* delays for 1 second */ */
    /* -webkit-transition-delay: 1s; /* for Safari & Chrome */ */
}

.other {
    color: #5c5c5c !important;
    border: 1px solid white;
}

.other:hover {
    transition: all 450ms;
    color: #7aaeeb !important;
}

#navHome {
    color: #3b3b3b;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#navImg {
    max-width: 2.1rem;
    max-height: 2.1rem;
}

#navHeader1 {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 0px;
    text-shadow: 2px 2px 8px #2f2f2f;
    font-size: 5rem;
}

#navHeader2 {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 0px;
    text-shadow: 2px 2px 8px #2f2f2f;
}

.loginBtn {
    padding-left: 3em;
    padding-right: 3em;
    background-color: #7aaeeb;
    border: 1px solid white;
    color: white;
}

.loginBtn:hover {
    background-color: white;
    color: #7aaeeb;
    border: 1px solid #7aaeeb;
    transition: all 370ms linear;
}
