{% extends "base.html"%}

{%block content%}
<div class="container-fluid">
    <br>
    <br>
    <br>
    <h1>{{className}}</h1>
    Taught by {{teacherName}}<br>
    Invite Code: {{inviteCode}}<br>
    Weights:<br>
    <ul>
        {% for i in weights %}
        <li>
            {{i[0]}} : {{i[1]}}
        </li>
        {% endfor %}
    </ul>
    Roster:<br>
    <ul>
        {% for i in classRoster %}
        <li>
            {{getName(i)}}
        </li>
        {% endfor %}
    </ul>
    {% if isTeacher %}
    {% set url = "/makepost/" + classID|string %}
    <a href={{url}}> Make a Post </a>
    {% endif %}
    Posts:<br>
    <ul>
        {% for i in posts %}
        <li>
            {{i[4]}} <br>
            Posted: {{i[2]}} <br>
            Due: {{i[3]}} <br>
            {% if i[5] == 1 and not isTeacher %}
            <form action = "/submitFile" method = "POST" enctype="multipart/form-data">
              <input type="hidden" name="postID" value="{{i[0]}}">
              <input type="file" name="file">
              <input type="submit" value="Upload">
            </form>
            {% elif i[5] == 1 %}
            <button onclick="show{{i[0]}}()">View Submissions</button>
            <div id="{{i[0]}}">
              {% set uploads = getPostFiles(i[0]) %}
              {% if uploads|length == 0 %}
                No submissions yet.
              {% else %}
                {% for i in uploads %}
                  {{getName(i[1])}} Submitted: {{i[2]}} <a href="/viewFile/{{i[0]}}">View File</a>
                {% endfor %}
              {% endif %}
            </div>
            <script>
              function show{{i[0]}}() {
                var x = document.getElementById("{{i[0]}}");
                if (x.style.display === "none") {
                  x.style.display = "block";
                } else {
                  x.style.display = "none";
                }
              }
            </script>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}
