{% extends "base.html"%}
{%block content%}
  <br>
  <br>
  <br>
    <h1>{{className}}</h1>
    Taught by {{teacherName}}<br>
    Invite Code: {{inviteCode}}<br>
    Weights:<br>
    <ul>
      {% for i in weights %}
      <li>
        {{i[0]}} : {{i[1]}}
      </li>
      {% endfor %}
    </ul>
    Roster:<br>
    <ul>
      {% for i in classRoster %}
      <li>
        {{getName(i)}}
      </li>
      {% endfor %}
    </ul>
    {% if isTeacher %}
    {% set url = "/makepost/" + classID|string %}
    <a href={{url}}> Make a Post </a>
    {% endif %}
    Posts:<br>
    <ul>
    {% for i in posts %}
    <li>
      {{i[4]}} <br>
      Posted: {{i[2]}} <br>
      Due: {{i[3]}} <br>
      </li>
    {% endfor %}
    </ul>
{% endblock %}
