{% extends "base.html"%}

{%block content%}
<div class="container-fluid">
    <br>
    <br>
    <br>
    <h1>{{className}}</h1>
    Taught by {{teacherName}}<br>
    Invite Code: {{inviteCode}}<br>
    Weights:<br>
    <ul>
        {% for i in weights %}
        <li>
            {{i[0]}} : {{i[1]}}
        </li>
        {% endfor %}
    </ul>
    Roster:<br>
    <ul>
        {% for i in classRoster %}
        <li>
            {{getName(i)}}
        </li>
        {% endfor %}
    </ul>
    {% if isTeacher %}
    {% set url = "/makepost/" + classID|string %}
    <a href={{url}}> Make a Post </a>
    {% endif %}
    Posts:<br>
    <ul>
        {% for i in posts %}
        <li>
            {{i[4]}} <br>
            Posted: {{i[2]}} <br>
            Due: {{i[3]}} <br>
            {% if i[5] == 1 and not isTeacher %}
            <form action = "/submitFile" method = "POST" enctype="multipart/form-data">
              <input type="hidden" name="postID" value="{{i[0]}}">
              <input type="file" name="file">
              <input type="submit" value="Upload">
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}
