<!--
IllegalSkillsException
Aaron Li, Angela Tom, Kevin Lin, Max Millar
Softdev1 pd6
P#02 -- Final Project
2019-01-09
-->

{% extends "base.html"%}
{%block content%}
  <br>
  <br>
  <br>
    <h1>Hello, {{name}}!</h1>
    <script src="https://www.avatarapi.com/js.aspx?email={{email}}&size=128">
    </script>
    <a href="/makeclass"> Make a Class </a>
    <br>
    <a href="/enterinvite"> Join a Class </a>
    <br>
    Classes:
    <ul>
    {% for x in range(classnames|length) %}
    {% set url = "/class/" + classids[x]|string %}
    <li>
      <a href={{url}}> {{classnames[x]}} </a>
      </li>
      {% endfor %}
      </ul>
{%endblock%}
