<!--
IllegalSkillsException
Aaron Li, Angela Tom, Kevin Lin, Max Millar
Softdev1 pd6
P#02 -- Final Project
2019-01-09
-->

{% extends "base.html"%}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- tabs -->
    <ul class="nav nav-pills justify-content-center mt-10" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="enrolled-tab" data-toggle="tab" href="#enrolled" role="tab" aria-controls="enrolled" aria-selected="true">Enrolled</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="teaching-tab" data-toggle="tab" href="#teaching" role="tab" aria-controls="teaching" aria-selected="false">Teaching</a>
        </li>
        <li class="nav-item">
            <a href="#make" role="tab" data-toggle="tab" id="make-tab" aria-controls="make" aria-selected="false" class="nav-link">Make Class</a>
        </li>
        <li class="nav-item">
            <a href="#join" role="tab" data-toggle="tab" id="join-tab" aria-controls="join" aria-selected="false" class="nav-link">Join Class</a>
        </li>
    </ul>

    <!-- tab content -->
    <div class="tab-content" id="myTabContent">

        <!-- enrolled tab -->
        {% set enroll = enrolleds %}

        <div class="tab-pane fade show active" id="enrolled" role="tabpanel" aria-labelledby="enrolled-tab">
            <div class="row mt-5 ml-4">
                <div class="col mt-4">
                    <h1>Your enrolled classes</h1>
                </div>
            </div>

            {% if enroll|length == 0 %}
            <p class="mt-2 mr-5 ml-5 mb-5" style="color: red;">You aren't enrolled in any classes. Go enroll in one!</p>
            {% else %}
            {% for i in range((enroll|length // 4) + 1) %}
            <!-- Row stuff -->
            <div class="row mt-3 ml-3 mr-3">
                {% for j in enrolleds[i * 4: i * 4 + 4] %}
                <div class="col-md-3">
                    <div class="card mr-2 ml-2" style="width: 100%;">
                        <a href="/class/{{j[0]}}">
                            <div class="card-img-caption">
                                <p id="caption-text2" class="card-text">{{ j[1] }}</p>
                                <img class="card-img-top" src="../static/card_background2.jpeg" alt="Card image cap">
                            </div>
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">Course Description</h5>
                            <p class="card-text">{{ j[2] | safe }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endfor %}
            {% endif %}

        </div>

        {% set teach = teachings %}

        <div class="tab-pane fade" id="teaching" role="tabpanel" aria-labelledby="teaching-tab">
            <div class="row mt-5 ml-4">
                <div class="col mt-4">
                    <h1>Classes you're teaching</h1>
                </div>
            </div>

            {% if teach|length == 0 %}
            <p class="mt-2 mr-5 ml-5 mb-5" style="color: red;">You aren't teaching any classes!</p>
            {% else %}
            {% for i in range((teach|length // 4) + 1) %}
            <!-- Row stuff -->
            <div class="row mt-3 ml-3 mr-3">
                {% for j in teachings[i * 4: i * 4 + 4] %}
                <div class="col-md-3">
                    <div class="card mr-2 ml-2" style="width: 100%;">
                        <a href="/class/{{ j[0] }}">
                            <div class="card-img-caption">
                                <p id="caption-text2" class="card-text">{{ j[1] }}</p>
                                <img class="card-img-top" src="../static/card_background2.jpeg" alt="Card image cap">
                            </div>
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">Course Description</h5>
                            <p class="card-text">{{ j[2] | safe }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% endfor %}
            {% endif %}
        </div>

        <!-- make tab -->
        <div class="tab-pane fade" id="make" role="tabpanel" aria-labelledby="make-tab">
            <div class="row mt-5 mr-4 ml-4">
                <div class="col text-center">
                    <form action="/processmakeclass" method="POST">
                        <input type="text" name="classname" placeholder="Class Name" required>
                        <h2 id="navHeader4" class="mt-3 mb-4">Enter class weights</h2>
                        <button id="addweight" type="button" class="btn btn-primary loginBtn">Add weight</button><br>
                        <button id="removeweight" type="button" class="btn btn-primary mt-1 mb-2 loginBtn">Delete weight</button>
                        <ul style="list-style-type: none" id="weightlist">
                            <li>
                                <input type="text" name="weightnames" placeholder="weight name">
                                <input type="number" name="weightnums" placeholder="weight percent">
                            </li>
                        </ul>

                        <div class = "container">
                          <div class="card cardOut">
                              <div class="card-header pt-1 pb-1 pl-2">
                                  <div class = "row">
                                    <div class = "col">
                                      Class Description
                                    </div>
                                  </div>
                              </div>
                              <div class="card-body" id="textEditor" contenteditable="true"><br></div>
                          </div>
                        </div>
                        <input type="hidden" id="hiddenInput" name="desc" value="">

                        <br>
                        <input type="submit" id="submitButton" class="btn btn-primary mt-3">
                    </form>
                </div>
            </div>

        </div>

        <!-- join tab -->
        <div class="tab-pane fade" id="join" role="tabpanel" aria-labelledby="join-tab">
            <div class="row mt-5 text-center">
                <div class="col">
                    <h1>Enter a join code!</h1>
                </div>
            </div>
            <form class="text-center mt-1" action="/invite" method="POST">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col text-center">
                        <input type="text" class="form-control" name="inviteCode" placeholder="Code">
                        <button type="submit" class="btn btn-primary mb-2 mt-3">Submit</button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </form>
        </div>
    </div>
    {{quote}}
</div>

<script src="../static/textEditor.js"></script>
<script src="../static/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
{%endblock%}
