{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    Classify | Landing
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="containerNav">
        <div class="container-fluid" id="mainNav">
            <div class="navbar-header">
                <a id="navHome" class="navbar-brand" href="/">
                    <img id="navImg" src="../static/navLogo.jpeg" alt="" class="img-circle">&nbsp;Home
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link pl-4 pr-4 other" href="/fact">Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4 pr-4 other" href="/fact">Homework</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4 pr-4 other" href="/fact">About</a>
                    </li>
                    <li class="nav-item">
                        <a id="create" class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div id="mainBody" class="container-fluid mt-1">
    </div>
    <div class="container">
        <!-- <h1 id="title" class="mt-5">Classify</h1> -->
        <br>
        <p id = "subtitle">A teacher’s tool and a student’s blessing</p>
        <a href="/login">
            <button type="button" class="btn btn-danger" id="login">Login</button>
        </a>
    </div>
    {% endblock %}
    {% block footer%}
    {% endblock %}
</body>
</html>
