<!--
IllegalSkillsException
Aaron Li, Angela Tom, Kevin Lin, Max Millar
Softdev1 pd6
P#02 -- Final Project
2019-01-09
-->

{% extends "base.html"%}
{%block content%}
<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h2 class="mt-4">Hello there. Please enter your name below</h2>
        <form action="/regname" method="POST">
            <input type="text" name="name" placeholder="name" required>
            <br>
            <button class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{%endblock%}
