{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top mb-5" id="containerNav">
	<div class="container-fluid" id="mainNav">
		<div class="navbar-header">
			<a id="navHome" class="navbar-brand" href="/login">
				<img id="navImg" src="../static/navLogo.jpeg" alt="" class="img-circle">&nbsp;Home
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				<li class="nav-item">
					<a class="nav-link pl-4 pr-4 other" href="/login">Classes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pl-4 pr-4 other" href="/fact">Homework</a>
				</li>
				<li class="nav-item mr-1 ml-1">
					<div class="btn-group">
						<img src="https://api.adorable.io/avatars/53/{{ session['email'] }}" alt="" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="dropdown-menu dropdown-menu-right noDeco pb-0">
							<a class="dropdown-item disabled">{{ session['email'] }}</a>
							<a href="/clear" class="noDeco text-left" style="text-decoration: none;">
								<button class="dropdown-item logBtn" type="button">Logout</button>
							</a>
						</div>
					</div>
				</li>

			</ul>

		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row mt-4"></div>
	<div class="d-flex flex-wrap grade-head justify-content-between mt-5">
		<div class="p-1 mr-auto">
			<h2 id="navHeader3" class="ml-4 mt-3"><b>{{ name }}</b></h2>
		</div>
		<div class="d-flex flex-column mt-2 justify-content-between">
			<div class="ml-auto mr-3 p-1">
				{% if isTeacher %}
				{% set url = "/makepost/" + classID|string %}
				<a href="{{ url }}"><button class="btn btn-success">New Post</button></a>
				{% endif %}
			</div>
			<div class="p-1 mr-2">
				<h4 id="navHeader6">Overall Average: <b style="color: #e32c2c;">{{ avg }}</b></h4>
			</div>
		</div>
	</div>
	<!-- sections -->
	<div class="row mr-1 ml-1">
		<div class="col-md-1"></div>
		<div class="col">
			<h2 class="mt-special mb-3 pb-1 text-mine btmBorder mr-1 ml-1"> &nbsp; Breakdown by weighted sections</h2>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% for i in weightavgs %}
	<div class="row mr-1 ml-1">
		<div class="col-md-1"></div>
		<div class="col ml-4 mr-4 btmBorder2">

			<div class="d-flex flex-wrap justify-content-between ml-2 mr-2">
				<div class="p-1 ">
					{{i}} : {{weightavgs[i]}}
				</div>
				<div class="p-1">
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endfor %}

	<!-- assignments -->
	<div class="row mr-1 ml-1 mt-4">
		<div class="col-md-1"></div>
		<div class="col">
			<h2 class="mt-special mb-3 pb-1 text-mine btmBorder mr-1 ml-1"> &nbsp; Grades by assignment</h2>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% for i in weightavgs %}
	{% for i in grades %}
	<div class="row mr-1 ml-1">
		<div class="col-md-1"></div>
		<div class="col ml-4 mr-4 btmBorder2">

			<div class="d-flex flex-wrap justify-content-between ml-2 mr-2">
				<div class="p-1 ">
					{{i[2]}} : {{i[3]}} / {{i[4]}}
				</div>
				<div class="p-1">
					<a href="sdf">sdf</a>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endfor %}
	{% endfor %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}
